
<h1><strong>Stupid Coaching</strong></h1>

<form class="row g-3" action="/answer" method="get" data-turbo="false">
  <div class="col-auto">
    <label for="question" class="visually-hidden">Question</label>
    <input type="text" name="question" class="form-control" id="question" placeholder="What is your question?">
  </div>
  <div class="col-auto">
    <button type="submit" value="Ask!" class="btn btn-primary mb-3">Ask!</button>
  </div>
</form>
